<div class="container mt-5 mt5">
  <h1 class="text-center">KI FESTA CONTATO E REDE SOCIAL</h1>
  <br />
  <br />

  <p>
    São Brasil
    <br />
    RUA:BRASIL NUMERO 7.
    <br />
    TELEFONE:55+ 11912365478.
    <br />
  </p>

  <p>
    Nossa uma empresa dedicada a Festas Site "KI FESTA" Duvida entre em contato
    consoco nós KI FETSA "AGRADECEMOS SEU CONTATO".
    <br />
  </p>

  <form class="col-lg-8">
    <a routerLink="../anuncio" class="btn btn-sm btn-warning md-2">Voltar Anuncio</a>
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2" >
        <input type="text" class="form-control" placeholder="Digite seu nome" />
      </div>

      <div class="col-lg-6 mt-3 mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Digite seu sobre"
        />
      </div>
      <div class="col-lg-12 mt-3 mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Digite seu E-mail"
        />
      </div>
      <div class="col-lg-6 mt-3 mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Digite seu telefone"
        />
      </div>
      <div class="col-lg-6">
        <button class="btn btn-md btn-success mt-3">
          ENVIAR ENTRAMOS CONTATO
        </button>
      </div>
    </div>
  </form>
</div>
