<div class="container mt-5 mt5 ">
    <h1 class="text-center">KI FESTA</h1>
    <br>

  <p>
    Somos uma empresa dedicada a Festas Site "KI FESTA" adora realizar sonho de
    Casamentos, Final de Temporadas e Kid criança venha nos conhecer nas Rede
    Social e para maior Duvida entre em contato consoco.
    <br />
  </p>

  <p>
    Somos uma empresa dedicada a Festas Site "KI FESTA" adora realizar, Rede
    Social e para maior Duvida entre em contato consoco.
    <br />
  </p>

  <p>
    Somos uma empresa dedicada a Festas Site "KI FESTA" Duvida entre em contato
    consoco nós KI FETSA "AGRADECEMOS SEU CONTATO".
    <br />
  </p>
  <a routerLink="../anuncio" class="btn btn-sm btn-warning md-2">Voltar Anuncio</a>
</div>
